/* style for submit button wrapper */
.submit-button-wrapper {
  text-align: center;
}

/* style for submit button */
.submit-button {
  background-color: #066D98;
  color: #022D58;
  display: inline-block; 
}